#textpage
  %h2 Oh uh, page not found!
  %p Seems we can't find the page you're looking for. Sorry!
  %p 
    If you're looking for your account, you might have the wrong
    private URL.
  %p
    Why not
    %a{:href => "/"}head back home
    and start over?
    
