#textpage
  %h2 Oops, we broke it. 
  %p 
    Something's gone wrong. I blame the developers! Why not
    %a{:href => "/"}head back home
    and see if it breaks again? 
  %p (We really hope it doesn't.)
    
