!!! 5
%html.no-js{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    /[if IE]
    /
    %title
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %link{:href => "css/style.css?v=1", :rel => "stylesheet"}/
    / All JavaScript at the bottom, except for Modernizr which enables HTML5 elements &amp; feature detects
    %script{:src => "js/modernizr-1.5.min.js"}
  / paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
  /[if lt IE 7 ] <body class="ie6">
  /[if IE 7 ] <body class="ie7">
  /[if IE 8 ] <body class="ie8">
  /[if IE 9 ] <body class="ie9">
  / [if (gt IE 9)|!(IE)]><!
  %body
    / <![endif]>
    #container
      %header
      #main
        =yield
      %footer
    %script{:src => "js/jquery-1.4.2.min.js?v=1"}
    %script{:src => "js/script.js?v=1"}
