%table.cardwall
  %thead
    %tr
      %th Analyse 2
      %th Design 3
      %th Q 1
      %th Test 2
      %th Build 1
      %th Deploy 1
  %tbody
    %tr
      %td
        .card This is a card. What do I do with it?
      %td
      %td
      %td
      %td
      %td
    %tr
      %td
      %td
      %td
      %td
      %td
      %td
      
