%table.cardwall
  %thead
    %tr
      %th Free Cards
      %th Define Acceptance
      %th Development
      %th Test
      %th Deploy
      %th Completed
  %tbody
    %tr
      %td
        .card This is a card. What do I do with it?
      %td
      %td
      %td
      %td
      %td
    %tr
      %td
      %td
      %td
      %td
      %td
      %td

