%table.cardwall
  %thead
    %tr
      %th 
        .lane-title Free Cards
      %th 
        .lane-title Define Acceptance
      %th 
        .lane-title Development
      %th 
        .lane-title Test
      %th 
        .lane-title Deploy
      %th 
        .lane-title Completed
  %tbody
    %tr
      %td
        .card This is a card. What do I do with it?
      %td
      %td
      %td
      %td
      %td
    %tr
      %td
      %td
      %td
      %td
      %td
      %td

#skeletons
  .card-detail
    %textarea.description
    %button.save Save
    %button.delete Delete
