#backlog.grid_2
  %div
    %button.icon.add Add Card
  .backlog-box
    .card A card in the backlog.

%table.cardwall.grid_10
  %thead
    %tr
      %th 
        .lane-title Free Cards
      %th 
        .lane-title Define Acceptance
      %th 
        .lane-title Development
      %th 
        .lane-title Test
      %th 
        .lane-title Deploy
      %th 
        .lane-title Completed
  %tbody
    %tr
      %td
        .card This is a card. What do I do with it?
        .card This is a card. What do I do with it?nerrr
      %td
      %td
        .card This is a card. What do I do with it?asdasd
      %td
      %td
      %td
    %tr
      %td
      %td
      %td
      %td
      %td
      %td

#skeletons
  .card-detail
    %textarea.description
    %button.save Save
    %button.delete Delete
