%table.cardwall
  %thead
    %tr
      %th 
        .lane-title Analyse 2
      %th
        .lane-title Design 3
      %th 
        .lane-title Q 1
      %th 
        .lane-title Test 2
      %th 
        .lane-title Build 1
      %th
        .lane-title Deploy 1
  %tbody
    %tr
      %td
        .card This is a card. What do I do with it?
      %td
      %td
      %td
      %td
      %td
    %tr
      %td
      %td
      %td
      %td
      %td
      %td
      
